.col-sm-3, .col-xs-6 {
	padding: 0;
}
#distance {
	width: 6em;
}
form {
	margin: 1em;
}
label {
	font-size: 1.1em;
}
select[multiple] {
	height: 7.5em;
}
#submit {
	margin: -15px;
}
#distance-label {
	float: left;
}
span {
	font-weight: bold;
}
.tags-input-list {
	display: none;
}
ul#explore {
	margin: 2em 1em;
	padding: 0;
}
ul#explore > li {
	background-color: #fff;
	border-radius: 0.5em;
	padding: 1em 0em 1em 0em;
}