#hike-map {
  height: 100%;
  width: 100%;
}
#timing {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.125em;
}
@media only screen and (min-width: 961px) {
  #hike-map {
    float: left;
    width: 70%;
  }
  #directionsPanelContainer {
    height: 100%;
    width: 30%;
    float: right;
    overflow: scroll;
  }
  #timing {
    font-size: 1.1em;
    margin-top: 0em;
  }
}
ul#features, ul#lines {
  list-style-type: none;
  margin: 0;
}
ul#features li, ul#lines li{
  display: inline;
  padding: 0.25em;
}
ul#features li a, ul#lines a{
  color: #777;
  font-weight: normal;
  border-bottom: 1px dotted;
}
ul#features li a:hover, ul#lines li a:hover {
  text-decoration: none;
  color: #71B300;
}
#camera {
  color: #000;
  font-size: 2em;
}
#gallery {
  color: #555;
  padding: 0em 0.25em 1em 0.25em;
  border-bottom: 1px dotted #aaa;
  height: 120px;
  overflow: hidden;
}
#description {
  padding: 1em 0.5em 0em 0.5em;
}
#description > p {
  text-indent: 1em;
}