#hike-map {
  height: 100%;
  width: 100%;
}
#directionsPanelContainer {
  width: 100%;
  padding: 1em;
}
#timing {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.125em;
}
#errors {
  font-weight: bold;
  color: #ff0000;
}
#directionsTitle {
  display: hidden;
}
@media only screen and (min-width: 768px) {
  #hike-map {
    float: right;
    width: 70%;
    border-left: 1px dotted #ddd;
  }
  #directionsPanelContainer {
    height: 100%;
    width: 30%;
    float: left;
    overflow: scroll;
  }
  #timing {
    font-size: 1.1em;
    margin-top: 0em;
  }
  #directionsHeader {
    text-align: center;
    border-bottom: 1px dotted #71B300;
  }
}
@media only screen and (min-width: 992px) {
  #hike-map {
    float: left;
    border-right: 1px dotted #ddd;
  }
  #directionsPanelContainer {
    height: 100%;
    float: right;
    overflow: scroll;
  }
  #timing {
    font-size: 1.1em;
    margin-top: 0em;
  }
  #directionsHeader {
    text-align: center;
    border-bottom: 1px dotted #71B300;
  }
}
#features {
  padding: 0.5em;
}
ul#features, ul#lines {
  list-style-type: none;
  margin: 0 1em 0 0;
  color: #005047;
}
ul#lines {
  padding: 0.5em;
  font-size: 1.05em;
}
ul#features li, ul#lines li{
  display: inline;
  padding: 0.25em;
}
ul#features li a, ul#lines a{
  color: #777;
  font-weight: normal;
  border-bottom: 1px dotted;
}
ul#features li a:hover, ul#lines li a:hover {
  text-decoration: none;
  color: #71B300;
}
#camera, #website {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  #website {
    font-size: 1.1em;
  }
}
#gallery {
  color: #555;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  #gallery {
    padding: 0em 0.25em 1em 0.25em;
    border-bottom: 1px dotted #aaa;
    height: 96px;
    overflow: hidden;
  }
}
#description {
  padding: 1em 0.5em 0em 0.5em;
}
#description > p {
  text-indent: 1em;
  padding: 0;
  margin: 0;
}
#description > p > span {
  font-weight: bold;
}
#more-options {
  display: none;
}