h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
span {
	font-weight: bold;
}
#map {
	height: 100%;
	width: 100%;
}
#find-nearest {
	width: 100%;
}
#errors {
	font-weight: bold;
	color: #ff0000;
}
ul#hike-list {
	margin: 0;
	padding: 1em;
}
ul#hike-list {
	width: 100%;
}
@media only screen and (min-width: 600px) {
	ul#hike-list li{
		display: inline;
		width: 50%;
		float: left;
		padding: 0.5em;
	}
	ul#hike-list li > .thumbnail {
		height: 30em;
	}
}
@media only screen and (min-width: 768px) {
	#find-nearest {
		width: 30%;
		height: 100%;
		float: right;
		overflow: scroll;
	}
	#map {
		height: 100%;
		width: 70%;
		float: left;
	}
	ul#hike-list {
		margin: 0;
		padding: 0.5em;
	}
	ul#hike-list li {
		width: 100%;
		float: left;
		clear: left;
		display: block;
	}
}
@media only screen and (min-width: 992px) {
	#find-nearest {
		width: 25%;
	}
	#map {
		width: 75%;
	}
}