span {
	font-weight: bold;
}
#map {
	height: 100%;
	width: 100%;
}
#find-nearest {
	padding: 1em;
	width: 100%;
}
#errors {
	font-weight: bold;
	color: #ff0000;
}
ul#hike-list {
	margin: 0;
	padding: 1em;
}
ul#hike-list li{
	width: 100%;
	height: auto;
}
ul#hike-list li > .thumbnail {
	padding: 1.4em;
	background: #fff;
}
@media only screen and (min-width: 496px) {
	ul#hike-list li{
		display: inline;
		width: 50%;
		float: left;
		padding: 0.5em;
	}
	ul#hike-list li > .thumbnail {
		height: 38em;
		padding: 1.1em;
		overflow: hidden;
	}
}
@media only screen and (min-width: 600px) {
	ul#hike-list li > .thumbnail {
		height: 28em;
	}
}
@media only screen and (min-width: 768px) {
	#find-nearest {
		width: 35%;
		height: 100%;
		padding: 0.5em;
		float: right;
		overflow: scroll;
	}
	#map {
		height: 100%;
		width: 65%;
		float: left;
	}
	ul#hike-list {
		margin: 0;
		padding: 0.5em;
	}
	ul#hike-list li {
		width: 100%;
		float: left;
		clear: left;
		display: block;
		padding: 0.25em;
	}
	ul#hike-list li > .thumbnail {
		height: auto;
		padding: 0.5em;
	}
}
@media only screen and (min-width: 992px) {
	#find-nearest {
		width: 30%;
	}
	#map {
		width: 70%;
	}
}