html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a, a:visited {
    color: #07755C;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:active, a.active {
    color: #71B300;
    text-decoration: underline;
}
body {
  background-color: #efefef;
  font-family: 'Lato', sans-serif;
  font-size: 1.12;
}
#brand {
  float: left;
  font-size: 1.75em;
  height: 50px;
  line-height: 20px;
  padding: 15px 15px;
}
button > a, button > a:visited, button > a:hover {
  color: #fff;
  text-decoration: none;
}
form {
  margin: 0.5em;
}
footer {
  background-color: #71B300;
  border-top: 1px dotted #07755C;
  color: #fff;
  padding: 0.5em;
  width: 100%;
}
h1 {
  font-size: 1.8em;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.3em;
  font-weight: bold;
}
h1, h2, h3 {
  margin-top: 0.1em;
}
nav {
  padding: 0.125em;
  z-index: 2;
}
nav, .navbar, #navbar  {
    background-color: #07755C;
    margin: 0em;
}
.navbar-default, .navbar-default .navbar-brand {
    color: #fff;
    border: 1px dotted #07755C;
    border-bottom: 1px dotted #71B300;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-preheader .navbar-toggle:hover {
    background-color: #71B300;
}
.navbar-preheader .navbar-toggle:active {
    background-color: #71B300;
}
.navbar a, #navbar a {
    color: #fff;
    font-size: 1.4em;
    font-weight: normal;
}
.navbar a:hover, #navbar a:hover {
    color: #71B300;
    font-weight: normal;
    text-decoration: none;
}
#logo {
    padding: 0.125em;
}
ul {
  list-style-type: none;
}
ul#footermenu {
  list-style-type: none;
  margin: 0 0 0.5em 0;
}
ul#footermenu li {
  display:inline;
  font-size: 1.15em;
  font-weight: normal;
}
ul#footermenu li a{
  color: #fff;
  padding: 0.25em;
  text-decoration: none;
}
ul#footermenu li a:hover{
  color: #07755C;
}
@media only screen and (min-width: 321px) {
  ul#footermenu li a {
    padding: 0.5em;
  }
}
@media only screen and (min-width: 961px) {
  ul#footermenu li a {
    padding: 0.65em;
  }
  ul#footermenu li a:hover{
    background-color: #07755C;
    color: #fff;
  }
}
/** custom bootstrap button from http://blog.koalite.com/bbg/ **/
.btn-primary { 
  color: #fff; 
  background-color: #71B300; 
  border-color: #EEEEEE; 
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #fff; 
  background-color: #07755C; 
  border-color: #EEEEEE; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #71B300; 
  border-color: #EEEEEE; 
} 
 
.btn-primary .badge { 
  color: #07755C; 
  background-color: #fff; 
}

.btn-notice,
.btn-notice:visited { 
  color: #FFFFFF; 
  background-color: #27B87C; 
  border-color: #EEEEEE; 
} 
 
.btn-notice:hover, 
.btn-notice:focus, 
.btn-notice:active, 
.btn-notice.active, 
.open .dropdown-toggle.btn-notice { 
  color: #FFFFFF; 
  background-color: #005047; 
  border-color: #EEEEEE; 
} 
 
.btn-notice:active, 
.btn-notice.active, 
.open .dropdown-toggle.btn-notice { 
  background-image: none; 
} 
 
.btn-notice.disabled, 
.btn-notice[disabled], 
fieldset[disabled] .btn-notice, 
.btn-notice.disabled:hover, 
.btn-notice[disabled]:hover, 
fieldset[disabled] .btn-notice:hover, 
.btn-notice.disabled:focus, 
.btn-notice[disabled]:focus, 
fieldset[disabled] .btn-notice:focus, 
.btn-notice.disabled:active, 
.btn-notice[disabled]:active, 
fieldset[disabled] .btn-notice:active, 
.btn-notice.disabled.active, 
.btn-notice[disabled].active, 
fieldset[disabled] .btn-notice.active { 
  background-color: #27B87C; 
  border-color: #EEEEEE; 
} 
 
.btn-notice .badge { 
  color: #27B87C; 
  background-color: #FFFFFF; 
}